/* WatchList.css */
.watchlist-container {
    height: 90vh; /* Adjust height as needed */
    overflow-y: scroll;
  }
  
  .watchlist-container::-webkit-scrollbar {
    width: 12px;
  }
  
  .watchlist-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .watchlist-container::-webkit-scrollbar-thumb {
    background: #503C3C; 
    border-radius: 6px;
  }
  
  .watchlist-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  